<!DOCTYPE html>
<html lang="en">
<head>
<title>Organized Chaos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Trebuchet MS", sans-serif;
    background-color: #11708b;}
.mySlides {display: none}
</style>
</head>
<body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span>Organized Chaos</span><br><img src="static/Book.png" width="40" alt="book"></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav nav-fill justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="/">Main</a></li>
                    <li class="nav-item"><a class="nav-link" href="/process">Result</a></li>
                    <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                    </ul>
            </div>
        </div>
    </nav>
    
    <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Organized Chaos</h2>
      <p class="w3-opacity w3-center"><i>We will help you find your things!</i></p><br>

      <form action="/search" method="POST">
        <label for="item">Your lost item:</label><br>
        <input type="text" id="item" name="item"><br>

        <button type="submit">Search</button>
      </form>

    </div>
    </div>


</body>
</html>
